/* LaTeX fonts */

@font-face {
    font-family: CMR;
    src: url(/fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }

@font-face {
    font-family: CMB;
    src: url(/fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }

$base-font-family: CMR;
$base-font-size: 16.5px;

html {
    font-size: $base-font-size;
}

/* Body options */

body {
    max-width: 40rem;
    margin: auto;
    font-family: $base-font-family;
    text-align: justify;
}

button { 
    font-size: inherit 
}

/* change print font size */

@media print {
    html {
        font-size: $base-font-size*0.8
    }
    body {
        max-width: 90vw;
    }
    .no-print,
    {
        display: none !important;
    }
}

/* Code beatufier */

pre {
    padding: 0.7rem;
    overflow: auto;
    border-radius: 5px;
  }
  // The line numbers already provide some kind of left/right padding
  pre[data-linenos] {
    padding: 1rem 0;
  }
  pre table td {
    padding: 0;
  }
  // The line number cells
  pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
  }
  pre mark {
    // If you want your highlights to take the full width.
    display: block;
    // The default background colour of a mark is bright yellow
    background-color: rgba(254, 252, 232, 0.9);
  }
  pre table {
    width: 100%;
    border-collapse: collapse;
  }

/* Headings and auto numbering */

.title {
    font-family: CMR;
    text-align: center;
    color: #000;
    font-size: 2.2rem;
}

.container {
    //start from -1 to not get the numbering on main h1 title
    counter-reset: section -1; 
}

.title::before {
    // remove number from main title
    content: "";
}

h1, h2, h3, h4, h5, h6 {
    font-family: CMB;
}

h1 {
    counter-reset: subsection;
}

h1::before {
    counter-increment: section;
    content: counter(section) " ";
}

h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

/* subtitle grid */

.sub_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sub_grid > * {
    text-align: center;
}

/* footnote */ 

.footnote {
    font-size: 0.9rem;
}
