{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<div class="sub_grid">
  <div>{{ page.description }}</div>
  <div class="subtitle">{{ page.date }}</div>
  <div><button id="print_button" class="no-print">🖨️(as pdf)</button></div>
</div>
<div><button id="all_corr_button" class="no-print">See all corrections</button></div>

{{ page.content | safe }}

{% endblock content %}

{% block footer %}
<hr>
<p class="footnote">Found an error? Let us know: 
    <a href="https://github.com/kenn7/kenn7.github.io/">
        https://github.com/kenn7/kenn7.github.io/
    </a>
</p>

{% endblock footer %}
